  <%= form_for :recipe, url: recipes_url do |f| %>
  <%= f.label :Recipe_name %>:
  <%= f.text_field :name %>
  <%= f.submit "Add Recipe?", :style => "margin-left: 10%;" %>
  <% end %>
<h1>Howdy!</h1>
<ol>
  <% @recipes.each do |recipe| %>
  <li>
    <%= recipe.name %><%= link_to 'Edit', edit_recipe_url(recipe) %>
    <ul>
      <% recipe.ingredients.each do |ingredient| %>
        <li><%= ingredient.name %></li>
      <% end %>
    </ul>
  </li>
  <% end %>
</ol>

<% content_for :footer do %>
Copyright
<% end %>