<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% 
if true
  now = Time.now
%>
<%= "The time is #{formatted_time(now)}" %>
<% end %>
<%= now %>
<%= render 'layouts/nav', time: now %>

<%= yield %>

<%= yield :footer %>
</body>
</html>
